---
import Button from './Button.astro';
import Table from './Table.jsx';
const { title, treasures, count, ...rest } = Astro.props;
---



<section {...rest}>
<div class="flex justify-between items-center mb-3">
    <h2 class="text-xl">{title}</h2>
    <Button list={treasures} /> 

    
</div>



<div class="overflow-x-auto">
    <Table client:load list={treasures}  />
</div>
</section>

