---
import Button from './Button.astro';
import Table from './Table.jsx';
const { title, treasures, count, ...rest } = Astro.props;
---



<section {...rest}>



<div class="overflow-x-auto">
    <Table client:load list={treasures} title={title}  />
</div>
</section>

